body {
    background-color: rgb(200, 228, 178);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 150%;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row, img{
    display: inline;
    width: 32%;
}

.timereq {
    text-align: center;
}

ul, ol {
    text-align: center;
    list-style-type: none;
}