body {
    background-color: rgb(202, 237, 255);
}

img {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    margin: 20px;
}